.main {
    display: flex;
    padding: $step*2;
    padding-top: 160px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
   
    &__title {
        font-size: 48px;
        padding: $step;
        margin-bottom: $step*3;
    }
    &__text {
        font-size: $font-size-medium;
        padding: $step;
        margin-bottom: $step*3;
    }
    &__link {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        background: #0a1d30;
        border: 0;
        border-radius: 3px;
        font-size:$font-size-default;
        // letter-spacing: 1.5px;
        padding: $step*3  $step*4 $step*3;
        text-align: center;
    }
    &__link:hover {
        background: #0a1d30;
        text-decoration: none;
    }

}
