.notes-content{
    min-height: 100vh;
}    

.notes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
    &__title{
        margin-bottom: 0;
    }
}

@media (max-width: 560px) {
    .notes {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        &__title{
            font-size: 20px;
        }
    }
}